body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
}
#page-container {
    max-width: 90rem;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 1px 1px 25px #888888;
}
#page-content {
    flex-grow: 2;
}
p a.button,
.block-form .field input.button,
.block-imagemenu.account-menu .main-menu a,
.button {
    border-radius: 0.25rem;
    -webkit-appearance: none;
}

/* Header */
.block-accountbuttons {
  padding-right: 1.5rem;
}
header .block-accountbuttons .icons {
    display: inline-block;
    margin-right: 0px;
    padding-right: 0.5rem;
    border-left: 1px solid #fff;
    padding-left: 1rem;
}
header .block-accountbuttons .icons .icon {
    margin-right: 0px;
    margin-top: -2px;
    margin-bottom: 2px;
}
header .block-imagemenu .button {
    border-radius: 0.25rem;
    -webkit-appearance: none;
}
header .block-imagemenu .image-wrap {
  width: 5%;
  flex-grow: 1;
  padding-right: 1rem;
  flex-basis: 3rem;
}
header .block-imagemenu .icons {
  flex-grow: 1;
  padding-bottom: 0.25rem;
  flex-basis: 15%;
}
header .block-imagemenu .title-wrap {
  width: 10%;
  flex-grow: 3;
  flex-basis: 10%;
}
header .block-imagemenu .main-menu nav {
    font-size: 1.1em; 
}
@media screen and (min-width: 24em) {
  header .block-imagemenu .icons {
    flex-grow: 3;
  }
}
@media screen and (min-width: 30em) {
  header .block-imagemenu .title-wrap h1 {
    font-size: 1.5rem;
  }
  header .block-imagemenu .icons {
    flex-grow: 2;
  }
}
@media screen and (min-width: 37em) {
  header .block-imagemenu .icons {
    flex-grow: 5;
  }
}
/* Set the logo to larger on big screens */
@media screen and (min-width: 45em) {
  header .block-imagemenu .icons {
    flex-grow: 5;
    padding-bottom: 0.25rem;
  }
  header .block-imagemenu .image-wrap a {
    margin-top: -2.25rem;
    max-height: 9rem;
    display: inline-block;
    width: auto;
  }
  header .block-imagemenu .image-wrap,
  header .block-imagemenu .image-wrap a img {
    max-height: 9rem;
  }
  header .block-imagemenu .content .main-menu {
    padding-bottom: 1rem;
    flex-grow: 1;
    flex-basis: 50%;
    text-align: right;
  }
  header .block-imagemenu .content .main-menu nav > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
  }
  header .block-imagemenu .title-wrap h1 {
    font-size: 2rem;
  }
  header .block-imagemenu .image-wrap {
    width: auto;
    flex-basis: auto;
    flex-grow: 0;
  }
  header .block-imagemenu .title-wrap {
    width: 10%;
    flex-grow: 2;
    flex-basis: 30%;
  }
}
@media screen and (min-width: 55em) {
  header .block-imagemenu .title-wrap {
    width: 10%;
    flex-grow: 2;
    flex-basis: 20%;
  }
}
@media screen and (min-width: 60em) {
  header .block-imagemenu .title-wrap {
    flex-grow: 1;
    flex-basis: 24%;
  }
  header .block-imagemenu .content .main-menu {
    padding-bottom: 0;
    flex-grow: 2;
  }
}
@media screen and (min-width: 72em) {
  header .block-imagemenu .title-wrap {
    flex-basis: 15%;
  }
  header .block-imagemenu .content .main-menu {
    padding-bottom: 0;
    flex-grow: 2;
  }
}
/* Account menu */
.block-imagemenu.account-menu .main-menu {
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media screen and (min-width: 30em) {
    .block-imagemenu.account-menu .showat-30-em nav > ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }
    .block-imagemenu.account-menu .showat-30-em nav > ul li a {
        padding: 0.5rem 1rem;
    }
}
@media screen and (min-width: 40em) {
    .block-imagemenu.account-menu .showat-40-em nav > ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }
    .block-imagemenu.account-menu .showat-40-em nav > ul li a {
        padding: 0.5rem 1rem;
    }
}
@media screen and (min-width: 50em) {
    .block-imagemenu.account-menu nav > ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }
    .block-imagemenu.account-menu nav > ul li a {
        padding: 0.5rem 1rem;
    }
}

/* Footer */
#page-footer {
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-top: 2rem;
}
#page-footer .block-title.sponsors {
    clear: both;
}
#page-footer .block-imagemenu,
#page-footer .block-socialicons {
    background: #ddd;
    padding-top: 1rem;
}
.block-imagemenu.footer-menu .content {
    justify-content: space-around;
}
#page-footer .copyright,
#page-footer .poweredby {
    color: #555;
    background: #ddd;
}
#page-footer .poweredby {
    padding-bottom: 2rem;
}
#page-footer .block-socialicons {
    width: 100%;
}
#page-footer .block-socialicons .wrap {
    display: block;
    width: 100%;
    padding: 0;
}
#page-footer .block-socialicons .content {
    padding: 0;
    width: 100%;
}
#page-footer .block-socialicons .icons {
    width: 100%;
    justify-content: center;
    padding: 0;
}
#page-footer .block-socialicons .icons .icon {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/* Image Carousel */
.block-carousel {
    padding-bottom: 0;
}
.block-carousel .image {
    min-height: 50vw;
    height: 50vw;
    max-height: 50vw;
}
@media screen and (min-width: 90em) {
    .block-carousel .image {
        min-height: 45rem;
        height: 45rem;
        max-height: 45rem;
    }
}
/* Syllabus - Group Buttons */
.block-buttons.musicfestival-syllabus.syllabus-buttons .content {
    padding: 0.75rem 0.75rem;
}
.block-buttons.musicfestival-syllabus.syllabus-buttons .buttons {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    gap: 0;
}
.block-buttons.musicfestival-syllabus.syllabus-buttons .buttons .button-wrap {
    width: 100%;
    flex-grow: 1;
    padding: 0.25rem;
}
.block-buttons.musicfestival-syllabus.syllabus-buttons .buttons .button-wrap a {
    width: 100%;
}
/* Syllabus - Class lists */
.block-table.musicfestival-classes .extra-info {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-style: italic;
}
@media screen and (min-width: 30em) {
    .block-table.musicfestival-classes .extra-info {
        padding-left: 1rem;
    }
}
@media screen and (max-width: 40em) {
    .block-table.musicfestival-classes.fold-at-40 tr {
        display: flex;
        flex-flow: row wrap;
    }
    .block-table.musicfestival-classes.fold-at-40 .class {
        flex-basis: 100%;
        flex-grow: 1;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
    }
    .block-table.musicfestival-classes.fold-at-40 .class .fold-label {
        display: none;
    }
    .block-table.musicfestival-classes.fold-at-40 .class .cell-content {
        padding: 0.5rem;
        background: #ddd;
        color: #000;
        width: 100%;
        flex-basis: 100%;
    }
    .block-table.musicfestival-classes.fold-at-40 .buttons {
        padding-top: 0.5rem;
        padding-right: 0;
        padding-bottom: 0;
    }
    .block-table.musicfestival-classes.fold-at-40 .class .extra-info {
        padding-top: 0.5rem;
    }
    .block-table.musicfestival-classes.fold-at-40 td {
        flex-grow: 1;
        align-self: center;
    }
    .block-table.musicfestival-classes.fold-at-40 tr:nth-child(even) {
        background: #f0f0f0;
    }
}
@media screen and (max-width: 50em) {
    .block-table.musicfestival-registrations tfoot tr {
        display: flex;
        flex-flow: row wrap;
        justify-content: right;
    }
    .block-table.musicfestival-registrations tfoot tr td:first-child {
        flex-grow: 1;
    }
    .block-table.musicfestival-registrations tfoot tr td {
        padding: 0.5rem;
    }
}
@media screen and (min-width: 40em) {
    .block-buttons.musicfestival-syllabus.syllabus-buttons .content {
        padding: 0.75rem 1.75rem;
    }
    .block-buttons.musicfestival-syllabus.syllabus-buttons .buttons .button-wrap {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 40%;
    }
    .block-buttons.musicfestival-syllabus.syllabus-buttons .buttons:last-child:after {
        content: '';
        flex-grow: 1;
        flex-basis: 40%;
    }
    .block-table.musicfestival-classes td.fee {
        text-align: right;
    }
    .block-table.musicfestival-syllabus-section td:first-child {
        width: 95%;
    }
}
@media screen and (min-width: 50em) {
    .block-buttons.musicfestival-syllabus.syllabus-buttons .buttons .button-wrap {
        flex-grow: 0;
        flex-basis: 50%;
    }
    .block-buttons.musicfestival-syllabus.syllabus-buttons .buttons:last-child:after {
        display: none;
    }
}
@media screen and (min-width: 80em) {
    .block-buttons.musicfestival-syllabus.syllabus-buttons .buttons .button-wrap {
        width: 33.3%;
        flex-basis: 33.3%;
    }
}
/* SSAM Chart */
.block-accordion.musicfestival-ssam-chart .title {
    font-weight: bold;
}
.block-accordion.musicfestival-ssam-chart .info div.musicfestival-ssam-chart-title {
    padding: 0.5rem 0.5rem 0.4rem 0.5rem;
    border-bottom: 0px dashed #ddd;
    margin-bottom: 1rem;
    break-inside: avoid-column;
    background: #eee;
}
.block-accordion.musicfestival-ssam-chart .info span.musicfestival-ssam-chart-title {
    font-weight: bold;
}
.block-accordion.musicfestival-ssam-chart .info .musicfestival-ssam-chart-songs {
    padding: 0.25rem 0.5rem 0rem 0.5rem;
    font-style: italic;
}
.block-accordion.musicfestival-ssam-chart .info .musicfestival-ssam-chart-song {
}
@media screen and (min-width: 45em) {
    .block-accordion.musicfestival-ssam-chart .info {
        column-count: 2;
    }
}
@media screen and (min-width: 67em) {
    .block-accordion.musicfestival-ssam-chart .info {
        column-count: 3;
    }
}
@media screen and (min-width: 80em) {
    .block-accordion.musicfestival-ssam-chart .info {
        column-count: 4;
    }
}
@media print {
    .block-accordion.musicfestival-ssam-chart .info {
        column-count: 2;
    }
}

/* Trading Cards - Adjudicators */
@media screen and (min-width: 100em) {
    .block-tradingcards.size-regular .item {
        width: 25%;
        max-width: 25%;
    }
    .block-tradingcards.size-25 .item {
        width: 33.33%;
        max-width: 33.33%;
    }
}
@media screen and (min-width: 120em) {
    .block-tradingcards.size-regular .item {
        width: 25%;
        max-width: 25%;
    }
    .block-tradingcards.size-25 .item {
        width: 33.33%;
        max-width: 33.33%;
    }
}

/* Block Textcards - Sponsors */
.block-textcards.musicfestival-sponsors .title {
    padding-bottom: 0;
}

/* Image Buttons - Adjudicators */
@media screen and (min-width: 80em) {
    .block-imagebuttons .item {
        flex-basis: 33.33%;
    }
}
@media screen and (min-width: 100em) {
    .block-imagebuttons .item {
        flex-basis: 33.33%;
    }
}
.block-imagebuttons.schedule-top-sponsors .items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.block-imagebuttons.schedule-top-sponsors .item {
    flex-basis: 15rem;
}

/* Columns */
@media screen and (min-width: 100em) {
    .block-text.columns-small .columns { columns: 3; }
}
@media screen and (min-width: 125em) {
    .block-text.columns-small .columns { columns: 3; }
}
@media screen and (min-width: 120em) {
    .block-text.columns-medium .columns { columns: 3; }
}
@media screen and (min-width: 105) {
    .block-text.columns-large .columns { columns: 2; }
}
@media screen and (min-width: 140) {
    .block-text.columns-large .columns { columns: 2; }
}

/* Filelist */
.block-filelist .filelist {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}
.block-filelist .filelist .file {
    margin-bottom: 0;
}

/* Pricelist - for donations */
.block-pricelist.donations .content {
    display: block;
}
.block-pricelist.donations h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.block-pricelist.donations .content table {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
}
.block-pricelist.donations .price {
    background: #e0e0e0;
}
.block-pricelist.donations .price .amount {
    display: none;
}
.block-pricelist.donations .price .user-amount input {
    border-radius: 5px;
}
@media screen and (min-width: 40em) {
    .block-pricelist.donations h2 {
        padding-top: 2rem;
    }
}

/* Contact form */
.block-contactform.limit-width {
    max-width: 100%;
}

/* block calendar */
.block-basiccalendar .day-name {
    background: #ddd;
    font-weight: bold;
    border-top: 1px solid #777;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
}
.block-basiccalendar .day-name:first-child {
    border-left: 1px solid #777;
}
.block-basiccalendar .day {
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
    font-weight: bold;
}
.block-basiccalendar .day:nth-of-type(7n + 1) {
    border-left: 1px solid #777;
}
.block-basiccalendar .day.day-prev {
    font-weight: normal;
    color: #999;
    background: #eee;
}
.block-basiccalendar .day.day-next {
    font-weight: normal;
    color: #999;
    background: #eee;
}
.block-basiccalendar .event {
    background: #ddd;
    padding: 0.5rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}
.block-basiccalendar .event.shift-open {
    background: #ddffdd;
}
.block-basiccalendar .event.shift-filled {
    background: #ddffdd;
}
.block-basiccalendar .event.shift-full {
    background: #ddecff;
}
.block-basiccalendar .event.shift-expired {
    background: #dddddd;
}
