.block-asideimage {
    max-width: 100%;
    margin-bottom: 1rem;
}
@media screen and (min-width: 50em) {
    .block-asideimage {
        float: right;
        max-width: 40%;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
}
