.block-buttons .content {
    width: 100%;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    gap: 0.5rem;
}
@media screen and (min-width: 40em) {
    .block-buttons .content {
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 1rem;
    }
}

