.block-accountlogin .content .signin-form,
.block-accountlogin .content .forgotpassword-form,
.block-accountlogin .content .signup-form.simple {
    padding: 1rem;
    max-width: 30rem;
    margin: 0 auto;
}
.block-accountlogin .content .signup-form.phone-billing {
    max-width: 60rem;
    margin: 0 auto;
}
.block-accountlogin .signup-form,
.block-accountlogin .reset-form,
.block-accountlogin .signin-form,
.block-accountlogin .forgotpassword-form {
    padding: 1rem 0rem;
}
.block-accountlogin .content h2 {
    padding-bottom: 1rem;
    text-align: center;
}
.block-accountlogin .content .signup-form.phone-billing > h2 {
    padding: 1rem;
}
@media screen and (min-width: 40em) {
    .block-accountlogin .content .signup-form.phone-billing > h2 {
        padding: 1rem 2rem;
    }
}
.block-accountlogin .input label {
    display: block;
    width: 100%;
    padding: 0.5em;
}
.block-accountlogin .input {
    padding: 0.5rem 0rem;
}
.block-accountlogin .input input {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #555;
}
.block-accountlogin .submit {
    padding-top: 1rem;
    text-align: right;
    margin-bottom: 2rem;
}
.block-accountlogin .submit input {
    width: 100%;
}
.block-accountlogin .create-link,
.block-accountlogin .forgot-link {
    text-align: center;
}
.block-accountlogin .create-link a,
.block-accountlogin .forgot-link a {
    display: block;
    padding: 0.5rem;
}
.block-accountlogin .forgot-link a.button {
}
.block-accountlogin .signup-form .required label:after {
    content: "*";
    color: #ff5555;
    font-size: 1.2em;
    line-height: 0.5em;
    padding: 0rem 0.25rem;
    font-weight: 700;
    vertical-align: middle;
}
.block-accountlogin .signup-form p,
.block-accountlogin .forgotpassword-form p {
    padding: 1rem 0rem;
}
.block-accountlogin.signin-signup .content {
    display: flex;
    flex-flow: row wrap;
}
.block-accountlogin.signin-signup .signin-form {
    flex-basis: 100%;
} 
.block-accountlogin.signin-signup .forgotpassword-form {
    flex-basis: 100%;
}
.block-accountlogin.signin-signup .signup-form {
    flex-basis: 100%;
    display: block;
}
@media screen and (min-width: 50em) {
    .block-accountlogin.signin-signup .content {
        margin-top: 2rem;
        justify-content: stretch;
    }   
    .block-accountlogin.signin-signup .content .signin-form,
    .block-accountlogin.signin-signup .content .forgotpassword-form,
    .block-accountlogin.signin-signup .content .signup-form.simple {        
        flex-basis: 50%;
        flex-shrink: 1;
        flex-grow: 1;
        margin: 0 0;
        max-width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }   
    .block-accountlogin.signin-signup .content h2 {
        text-align: center;
    }
    .block-accountlogin.signin-signup .content p,
    .block-accountlogin.signin-signup .content form,
    .block-accountlogin.signin-signup .content > div {
        max-width: 25rem;
        margin: 0 auto;
    }   
    .block-accountlogin.signin-signup .signup-form {
        border-left: 1px dashed #ddd;
    }   
}
