.block-socialicons .wrap {
    display: flex;
    flex-flow: row nowrap;
}
.block-socialicons .content,
.block-socialicons .icons {
    width: 50%;
}
.block-socialicons .icons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    padding-right: 1rem;
}
.block-socialicons .content {
    padding: 1rem;
}
.block-socialicons a {
    display: inline-block;
    vertical-align: middle;
}
.block-socialicons .icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 0px;
}
.block-socialicons .icon img {
    display: inline-block;
    width: 2.5rem;
    height: 3rem;
    padding: 0.5rem 0.25rem;
}
