.block-accountlogin .input label {
    display: block;
    width: 100%;
    padding: 0.5em 0em;
}
.block-accountlogin .input input {
    display: block;
    width: 100%;
}
@media screen and (min-width: 40em) {
    .block-accountlogin .content {
        max-width: 40em;
        margin: 0 auto;
    }
    .block-accountlogin .input label {
        display: inline-block;
        padding: 0.5em;
        width: 30%;
    }
    .block-accountlogin .input input {
        display: inline-block;
        width: 70%;
    }
}
