.block-testimonials {
    text-align: center;
    margin: 0 auto;
}

.block-testimonials .wrap {
    padding: 1rem;
}
.block-testimonials .testimonial-wrap {
    padding: 1rem;
}
.block-testimonials .author {
    font-style: italic;
}
