.block-form .content {
    padding: 1rem;
    margin: 0 auto;
}
.block-form.section-selector .content {
/*    max-width: 40rem; */
}
.block-form .content h2 {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}
.block-form .guidelines p {
    margin-bottom: 1rem;
}
.block-form.simple form {
    width: 100%;
/*    border: 1px solid #aaa;
    background: #eee; */
}
.block-form.simple .fields {
    padding: 0.5rem;
    border: 1px solid #aaa;
    background: #eee;
}
.block-form.simple .field {
    padding: 0.5rem;
}
.block-form .field.field-document:not(.hidden),
.block-form.simple .field.field-file:not(.hidden) {
    display:flex;
    flex-flow: row wrap;
}
.block-form .field.field-document label,
.block-form.simple .field.field-file label {    
    flex-basis: 100%;
}
.block-form .field.field-document input,
.block-form.simple .field.field-file input {
    flex-basis: 50%;
    flex-grow: 1;
}
.block-form .field.field-document .button,
.block-form.simple .field.field-file .button {
    margin-left: 1rem;
}
.block-form.simple .line {
    display: block;
    width: 100%;
    border-top: 1px dashed #aaa;
    margin-top: 1rem;
    padding-bottom: 0.75rem;
}
.block-form.simple .field-button:not(.hidden) {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    text-align: center;
}
.block-form.simple .submit-buttons {
    text-align: right;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    padding: 1rem 0rem;
    text-align: right;
    gap: 1rem;
}
.block-form.simple .submit-buttons:has(>a) {
    justify-content: space-between;
}
.block-form.simple .submit-buttons:has(input:nth-child(2)) {
    justify-content: space-between;
}
.block-form.simple .submit-buttons.hidden {
    display: none;
}
.block-form.section-selector .form-sections-fields .repeatable,
.block-form.section-selector .form-sections-fields .form-section {
    display: none;
}
.block-form .form-sections-fields .repeatable.selected,
.block-form .form-sections-fields .form-section.selected {
    display: block;
} 
.block-form.sectioned .fields {
    background: #eee;
    border: 1px solid #aaa;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.block-form.sectioned .form-section.buttons .fields {
    background: inherit;
    border: 0px;
    padding: 0px;
    display: flex;
    flex-flow: column-reverse nowrap;
}
.block-form.sectioned .form-section.buttons .fields .field.field-submit,
.block-form.sectioned .form-section.buttons .fields .field.field-cancel {
    width: 100%;
    flex-basis: 100%;
    flex-grow: 1;
}
.block-form.sectioned .form-section.buttons .fields .field.field-submit input,
.block-form.sectioned .form-section.buttons .fields .field.field-cancel a.button,
.block-form.sectioned .form-section.buttons .fields .field.field-cancel input {
    width: 100%;
    text-align: center;
}
@media screen and (min-width: 30em) {
    .block-form.sectioned .form-section.buttons .fields {
        display: flex;
        text-align: right;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .block-form.sectioned .form-section.buttons .fields .field.field-submit:only-child,
    .block-form.sectioned .form-section.buttons .fields .field.field-cancel:only-child {
        margin-left: auto;
    }
    .block-form.sectioned .form-section.buttons .fields .field.field-submit,
    .block-form.sectioned .form-section.buttons .fields .field.field-cancel {
        padding-top: 0.5rem;
        flex-basis: 0;
        flex-grow: 0;
    }
    .block-form.sectioned .form-section.buttons .fields .field.field-submit input,
    .block-form.sectioned .form-section.buttons .fields .field.field-cancel a.button,
    .block-form.sectioned .form-section.buttons .fields .field.field-cancel input {
        width: auto;
        min-width: 10em;
    }
}
.block-form .form-section-description p {
    padding-bottom: 1rem;
}
.block-form .field {
    padding: 0.5rem 0rem;
}
.block-form.sectioned .field.field-address {
    padding: 0.5rem 0rem;
}
.block-form .field.field-address label {
    padding-top: 0.5rem;
}
.block-form .field.field-address label:first-child {
    padding-top: 0rem;
}
.block-form .field .label,
.block-form .field label {
    display: block;
    width: 100%;
/*    padding: 0.5em; */
    font-weight: bold;
}
.block-form .field.hidden-label label,
.block-form .line.hidden,
.block-form .field label.hidden {
    display: none;
}
.block-form .field .video {
    width: 100%;
    position: relative;
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}
.block-form .field .video iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;    
    height: 100%;
}
.block-form .tab {
    min-width: 4rem;
    flex-grow: 1;
    text-align: center;
}
.block-form .tab:before,
.block-form .tab:after {
    content: ' ';
    font-size: 1.2em;
    line-height: 0.5em;
    padding: 0rem 0.45rem;
    font-weight: 700;
    vertical-align: middle;
}
.block-form .tab.required:after,
.block-form .field.required .label:after,
.block-form .label.required:after,
.block-form .checkbox-label.required .label:after,
.block-form .field.required label:after,
.block-form .field.field-termsofuse.required .termsofuse.required:after,
.block-form label.required:after {
    content: "*";
    color: #ff5555;
    font-size: 1.2em;
    line-height: 0.5em;
    padding: 0rem 0.25rem;
    font-weight: 700;
    vertical-align: middle;
}
.block-form .field-radio.required label:after,
.block-form .field-checkbox.checkbox-list-labeled.required label:after,
.block-form .field.required .address-line-2 label:after {
    content: '';
}
.block-form .tab.required {
}
.block-form .tab.required:after {
    padding-right: 0em;
}
.block-form .field input {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    background: #fff; 
    border: 1px solid #777;
}
.block-form .field input.button {
    background: #555;
}
.block-form .field input.button:hover {
    background: #fff;
}
.block-form .field-phone-type-number input {
    display: inline-block;
}
.block-form .joined-fields {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    justify-content: stretch;
}
.block-form .field-number input {
    width: 12em;
}
.block-form .field-price input {
    width: 12rem;
}
.block-form .field-textarea {
    padding-bottom: 0rem;
}
.block-form .field textarea {
    width: 100%;
}
.block-form .field .textarea-readonly {
    white-space: pre-wrap;
    padding: 1rem;
    border: 1px solid #777;
    background: #fff;
    color: #000;
}
.block-form .field .word-count {
    text-align: right;
    padding: 0rem 0.5rem;
}
.block-form .field .word-count.error {
    color: #ff5555;
}
.block-form .field-phone-type-number select,
.block-form .field-select select {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 2.5rem;
}
.block-form .field-phone-type-number select,
.block-form .field-minsec select,
.block-form .field-select select {
    box-sizing: border-box;
    -webkit-appearance: none!important;
    max-width: 100%;
    border: 1px solid #777;
    border-radius: 0;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    background: #fff; 
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" %3F><svg fill="none" height="24" stroke="rgb(119,119,119)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" width="32" xmlns="http://www.w3.org/2000/svg"><polyline points="6 9 12 15 18 9"/></svg>');
/*    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwMCAxMDAiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cG9seWdvbiBmaWxsPSIjMDEwMTAxIiBwb2ludHM9IjIzLjEsMzQuMSA1MS41LDYxLjcgODAsMzQuMSA4MS41LDM1IDUxLjUsNjQuMSAyMS41LDM1IDIzLjEsMzQuMSAiLz48L3N2Zz4="); */
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: center;
}
.block-form .field-phone-type-number select {
    width: auto;
    min-width: 6em;
}
.block-form .field-minsec select {
    min-width: 4em;
}
.block-form .field-termsofuse {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    padding-top: 1rem;
    padding-left: 0.5rem;
}
.block-form .field-checkbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    padding-top: 1rem;
}
.block-form .field-checkbox input {
    margin-bottom: 0.5rem;
}
.block-form .field-checkbox.description-included {
    flex-flow: row wrap;
}
.block-form .field-checkbox.description-included label {
    order: 1;
    flex-basis: 100%;
    flex-grow: 2;
}
.block-form .field-checkbox.description-included input {
    order: 2;
    margin-top: 1rem;
}
.block-form .field-checkbox.description-included .field-description {
    order: 3;
    flex-shrink: 1;
    flex-basis: 80%;
    flex-grow: 1;
}
.block-form .field-checkbox.hidden {
    display: none;
}
.block-form .field-termsofuse .field-description {
    flex-basis: 100%;
}
.block-form .field-content.checkbox-label,
.block-form.sectioned .field-content.checkbox-label {
    padding-bottom: 0px;
}
.block-form .field-checkbox.checkbox-list label ,
.block-form.sectioned .field-checkbox.checkbox-list label {
    font-weight: normal;
}
.block-form .field-checkbox.checkbox-list {
    padding-top: 0rem;
    padding-left: 1.5rem;
}
.block-form .field-content.checkbox-list .field-description:last-child {
    padding-bottom: 0.25rem;
}
.block-form .field-termsofuse input,
.block-form .field-radio input {
    display: inline-block;
    width: auto;
    padding: 1rem;
    margin: 0.5rem 1rem 0.5rem 0;
}
.block-form .field-radio input {
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
}
.block-form .field-checkbox input {
    display: inline-block;
    width: auto;
    padding: 1rem;
    margin: 0.5rem 1rem 0.5rem 0;
    width: 1.2rem;
    min-width: 1.2rem;
    height: 1.2rem;
}
.block-form .field-checkbox label {
    display: inline;
    width: auto;
}
.block-form .field-checkbox #f-terms {
    align-self: start;
}
.block-form .field-radio .option-wrap { 
    display: inline;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
}
.block-form .field-radio.block-options .option-wrap {   
    display: block;
}
.block-form .field-radio input {
    margin: 0.25rem 0.25rem 0.25rem 1rem;
}
.block-form .field.field-radio label {
    display: inline;
}
.block-form .field-termsofuse label {
    display: none;
}
.block-form .field-termsofuse .termsofuse {
    font-weight: bold;
}
.block-form .field-termsofuse a {
    cursor: pointer;
}
/* 2 lines, 5 lines, 10 lines, 15 lines, 25 lines */
.block-form .field.size-tiny textarea {
    height: 4em;
}
.block-form .field.size-small textarea {
    height: 9em;
}
.block-form .field.size-medium textarea {
    height: 16.5em;
}
.block-form .field.size-large textarea {
    height: 24em;
}
.block-form .field.size-xlarge textarea {
    height: 39em;
}
.block-form .field.field-textarea {
    flex-basis: 100%;
}
.block-form .field .img-preview {
    padding-bottom: 1rem;
}
.block-form .field .img-preview img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 25rem;
}
.block-form .field-description {
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}
.block-form .form-buttons {
    text-align: right;
}
.block-form .form-buttons .button {
    margin-left: 1rem;
}
.block-form .form-buttons .button:first-child {
    margin-left: 0rem;
}
.block-form .repeat-buttons,
.block-form .form-section-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: right;
    gap: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
}
.block-form .repeat-buttons,
.block-form .form-section-buttons .button {
    min-width: 8rem;
    text-align: center;
}
.block-form .repeat-buttons,
.block-form .form-section-buttons .button.prev {
    align-self: flex-start;
}
.block-form .repeat-buttons,
.block-form .form-section-buttons .button.next {
    align-self: flex-end;
    margin-left: auto;
}
.block-form .form-payment {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.block-form .form-payment .fee-label {
    display: inline-block;
    flex-grow: 1;
    padding: 0 0.5rem 0 0;
}
.block-form .form-payment .fee-amount {
    display: inline-block;
    flex-grow: 1;
    text-align: right;
    padding: 0 0.5rem;
}
.block-form .form-payment .invoice-paid {
    text-align: right;
    padding-left: 1rem;
}
.block-form .form-payment .fee-button {
    margin-left: 0.5rem;
    text-align: center;
}
@media screen and (max-width: 20em) {
    /* Really small screens */
    .block-form .form-payment {
        flex-flow: row wrap;
    }
    .block-form .form-payment .fee-button {
        margin-left: 0;
        margin-top: 1rem;
        flex-grow: 1;
        width: 100%;
    }
}
.block-form .field-submit {
    padding-top: 1rem;
}
.block-form .form-buttons input {
    display: inline-block;
    width: 100%;
    margin-left: 0;
}
/*.block-form .submit {
    padding-top: 1rem;
    text-align: right;
    margin-bottom: 2rem;
}
.block-form .submit input {
    width: 100%;
} */
.block-form .form-sections-list.hide {
    display: none;
}
.block-form .form-sections-list .button {
    width: 100%;
    margin-bottom: 1rem;
    cursor: pointer;
}
@media screen and (min-width: 40em) {
    .block-form .content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .block-form .repeat-buttons .button,
    .block-form .form-section-buttons .button {
        min-width: 10rem;
        width: auto;
    }
    .block-form .field-submit .button {
        min-width: 10rem;
        width: auto;
        margin-left: auto;
        margin-right: 0;
    }
}
@media screen and (min-width: 50em) {
    .block-form .content,
    .block-form.section-selector .content {
        max-width: 80rem;
    }
    .block-form .current-section {
        display: none;
    }
    .block-form .form-sections-list.hide {
        display: block;
    }
    .block-form.section-selector .form {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .block-form.section-selector .form-sections-list {
        width: 35%;
        padding-right: 1rem;
    }
    .block-form.section-selector .form-sections-fields {
        width: 65%;
        padding-left: 1rem;
    }
}
/* Form Field Sizing */
.block-form.simple .field-newline,
.block-form .newline {
    width: 100%;
    padding: 0;
}
.block-form .size-tiny,
.block-form .size-small,
.block-form .size-small-medium,
.block-form .size-medium,
.block-form .size-medium-large, 
.block-form .size-large {
    padding: 0.5rem;
}
.block-form .field.field-address {
    padding: 0rem;
}
.block-form .size-tiny,
.block-form .size-small,
.block-form .size-small-medium,
.block-form .size-medium,
.block-form .size-medium-large, 
.block-form .size-large {
    width: 100%;
}
.block-form .field-hidden {
    display: none;
    padding: 0 0 0 0;
}
@media screen and (min-width: 40em) {
    .block-form .fields,
    .block-form .fields .field-address {
        display: flex;
        flex-flow: row wrap;
        align-content: stretch;
        align-items: stretch;
    }
    .block-form .fields.hidden {
        display: none;
    }
    .block-form .field,
    .block-form .size-tiny,
    .block-form .size-small,
    .block-form .size-small-medium,
    .block-form .size-medium,
    .block-form .size-medium-large, 
    .block-form .size-large {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .block-form .field-number.size-small input,
    .block-form .field-number.size-small-medium input {
        width: 100%;
    }
    .block-form .size-tiny {
        flex-basis: 15%;
    }
    .block-form .size-small {
        flex-basis: 50%;
    }
    /* NEW */
    .block-form .size-small {
        flex-basis: 25%;
    }
/*    .block-form.section-selector .size-small,
    .block-form.section-selector .size-small-medium,
    .block-form.section-selector .size-medium,
    .block-form.section-selector .size-medium-large, 
    .block-form.section-selector .size-large {
        width: 100%;
        flex-basis: 100%;
    } */
}
@media screen and (min-width: 60em) {
    .block-form .size-small,
    .block-form .size-small-medium {
        flex-basis: 33%;    
    }
    .block-form.section-selector .size-small,
    .block-form .size-medium {
        flex-basis: 50%;    
    }
    .block-form.simple.viewonly .field.field-textarea.size-small,
    .block-form.simple.viewonly .field.field-textarea.size-small-medium,
    .block-form.simple.viewonly .field.field-textarea.size-medium {
        flex-basis: 50%;    
        display: flex;
        flex-flow: column nowrap;
    }
    .block-form.section-selector .size-small-medium,
    .block-form.section-selector .size-medium,
    .block-form.section-selector .size-medium-large, 
    .block-form.section-selector .size-large {
        width: 100%;
        flex-basis: 100%;
    }
}
@media screen and (min-width: 80em) {
    .block-form .size-small-medium {
        flex-basis: 25%;
        flex-shrink: 1;
    }
    .block-form .field-number.size-small,
    .block-form .field-number.size-small-medium {
        flex-basis: 15%;
    }
    .block-form .size-small-medium {
        flex-basis: 50%;
        flex-grow: 2;
    }
    .block-form.section-selector .size-small,
    .block-form.section-selector .size-small-medium,
    .block-form .size-medium,
    .block-form .size-medium-large {
        flex-basis: 50%;
    }
    .block-form.section-selector .size-medium,
    .block-form.section-selector .size-medium-large, 
    .block-form.section-selector .size-large {
        width: 100%;
        flex-basis: 100%;
    }
}
.block-form.viewonly form {
    border: 0px;
    padding: 0;
    background: transparent;
}
.block-form.viewonly form .fields {
    padding: 0px;
}
.block-form.simple.viewonly form .field,
.block-form.viewonly form .field {
    padding: 0px;
}
.block-form.simple.viewonly form .field input,
.block-form.viewonly form .field input,
.block-form.simple.viewonly form .field .textarea-readonly,
.block-form.viewonly form .field .textarea-readonly {
    border: 0px;
    padding: 0.5rem;
}
.block-form.simple.viewonly form .field label {
    padding: 0.5rem;
}
.block-form.simple.viewonly form .field .textarea-readonly,
.block-form.viewonly form .field .textarea-readonly {
    flex-grow: 1;
}
