.block-contactform .content {
    padding: 1rem;
}
/* Address details */
.block-contactform .details {
    padding-bottom: 1rem;
}
.block-contactform .intro {
    margin-bottom: 1rem;
}
.block-contactform .detail {
    padding-bottom: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.block-contactform .icon,
.block-contactform .item {
    vertical-align: middle;
}
.block-contactform .item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.block-contactform .icon {
    padding: 1rem 1.5rem 1rem 0rem;
    display: flex;
}
.block-contactform svg {
    height: 3rem;
    fill: #aaa;
}
.block-contactform svg.stroke {
    stroke: #aaa;
}
.block-contactform .label {
    font-size: 1.1rem;
    font-weight: bold;
}
.block-contactform .value {
    font-size: 1rem;
}
.block-contactform .hours table td {
    padding: 0.1rem 1rem 0.1rem 0rem;
}
/* Form details */
.block-contactform .hidden {
    display: none;
}
.block-contactform .form-details h2 {
    margin-bottom: 0.5rem;
}
.block-contactform .form-details.no-title {
    margin-top: 1rem;
}
.block-contactform .form {
    padding: 1rem;
    border: 1px solid #aaa;
    background: #eee;
}
.block-contactform .form-intro {
    margin-bottom: 1rem;
}
.block-contactform form {
    width: 100%;
}
.block-contactform label {
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    display: block;
}
.block-contactform .address-details .staff .label {
    padding-top: 1rem;
}
.block-contactform .address-details .staff .label:first-child {
    padding-top: 0rem;
}
.block-contactform .address-details .staff,
.block-contactform .address-details .hours,
.block-contactform .address-details .directions {
    align-items: flex-start;
    padding-bottom: 2rem;
}
.block-contactform .input,
.block-contactform .textarea {
    width: 100%;
    margin-bottom: 0.75rem;
}
.block-contactform .input input,
.block-contactform .textarea textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
}
.block-contactform .textarea textarea {
    height: 7rem;
}
.block-contactform {
}
.block-contactform .content {
    display: flex;
    flex-direction: column;
}
.block-contactform .address-details {
    order: 1;
}
.block-contactform .form-details {
    order: 2;
}
@media screen and (min-width: 40em) {
    .block-contactform .content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media screen and (min-width: 50em) {
    .block-contactform .content {
        display: block;
        position: relative;
    }
    .block-contactform .address-details {
        padding-right: 0.5rem;
    }
    .block-contactform .form-details {
        padding-left: 1.5rem;
        float: right;
        min-width: 50%;
    }
    .block-contactform .form-details.no-title {
        margin-top: 2.5rem;
    }
}
