.block-table {
    width: 100%;
}
.block-table .content {
    padding: 1rem;
}
.block-table h2 {
    padding-bottom: 1rem;
}
.block-table.subtitle h2 {
    padding-bottom: 0rem;
}
.block-table table {
    width: 100%;
    border: 1px solid #000;
}
.block-table.fit-width table {
    width: auto;
    width: -webkit-fill-available;
}
.block-table.fit-width {
    width: auto;
    width: -moz-available;
    width: -webkit-fill-available;
}
.block-table th,
.block-table td {
    padding: 0.5rem;
    vertical-align: middle;
}
.block-table td.aligntop {
    vertical-align: top;
}
.block-table td.alignright {
    text-align: right;
}
.block-table th {
    font-weight: bold;
}
.block-table .fold-label {
    display: none;
    padding-right: 1rem;
    font-weight: bold;
}
.block-table .buttons {
    padding: 0.5rem 0rem 0rem 0.5rem;
}
.block-table th .button {
    font-weight: normal;
}
.block-table .buttons .button {
    margin: 0rem 0.5rem 0.5rem 0rem;
    padding: 0.25rem 0.5rem;
}
.block-table td .indent {
    font-weight: normal;
}
@media screen and (min-width: 40em) {
    .block-table .content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media screen and (max-width: 40em) {
    .block-table.fold-at-40 table, 
    .block-table.fold-at-40 tbody, 
    .block-table.fold-at-40 tbody tr, 
    .block-table.fold-at-40 tbody td {
        display: block;
    }
    .block-table.fold-at-40 tbody tr {
        margin-bottom: 1rem;
    }
    .block-table.fold-at-40 tbody tr td:first-child {
        font-weight: bold;
    }
    .block-table.fold-at-40 table {
        border: 0px;
    }
    .block-table.fold-at-40 td {
        padding: 0.25rem 0.5rem;
    }
    .block-table.fold-at-40 .fold-label {
        display: inline-block;
    }
    .block-table.fold-at-40 tr {
        margin-bottom: 1rem;
        border: 1px solid #000;
    }
    .block-table.fold-at-40 th,
    .block-table.fold-at-40 thead,
    .block-table.fold-at-40 td.empty {
        display: none;
    }
    .block-table.fold-at-40 tfoot {
        display: table;
        width: 100%;
    }
    .block-table.fold-at-40 .fold-alignleft {
        text-align: left;
    }
    .block-table.fold-at-40 .fold-hidden {
        display: none;    
    }
    .block-table.no-fold-footers tfoot { display: table-footer-group; }
    .block-table.no-fold-footers tfoot tr { display: table-row; }
    .block-table.no-fold-footers tfoot td { display: table-cell; }
    .block-table.fold-at-40.no-fold-footers tr td.spacer { display: none; }
}
@media screen and (max-width: 50em) {
    .block-table.fold-at-50 table, 
    .block-table.fold-at-50 tbody, 
    .block-table.fold-at-50 tbody tr, 
    .block-table.fold-at-50 tbody td,
    .block-table.fold-at-50 tfoot, 
    .block-table.fold-at-50 tfoot tr, 
    .block-table.fold-at-50 tfoot td {
        display: block;
    }
    .block-table.fold-at-50 tbody tr,
    .block-table.fold-at-50 tfoot tr {
        margin-bottom: 1rem;
    }
    .block-table.fold-at-50 tbody tr td:first-child,
    .block-table.fold-at-50 tfoot tr td:first-child {
        font-weight: bold;
    }
    .block-table.fold-at-50 table {
        border: 0px;
    }
    .block-table.fold-at-50 .fold-label {
        display: inline-block;
    }
    .block-table.fold-at-50 td {
        padding: 0.25rem 0.5rem;
    }
    .block-table.fold-at-50.fold-label-headers tbody td {
        padding: 0rem;
    }
    .block-table.fold-at-50.fold-label-headers .fold-label {
        display: block;
        padding: 0.5rem;
    }
    .block-table.fold-at-50.fold-label-headers .cell-content {
        display: block;
        padding: 0.5rem;
        font-weight: normal;
    }
    .block-table.fold-at-50 tr {
        margin-bottom: 1rem;
        border: 1px solid #000;
    }
    .block-table.fold-at-50 th,
    .block-table.fold-at-50 thead,
    .block-table.fold-at-50 td.empty {
        display: none;
    }
    .block-table.fold-at-50 .fold-alignleft {
        text-align: left;
    }
    .block-table.fold-at-50 .fold-hidden {
        display: none;    
    }
    .block-table.invoice tfoot,
    .block-table.no-fold-footers tfoot { 
        display: table; 
        width: 100%;
        border-bottom: 0px;
    }
    .block-table.invoice tfoot tr,
    .block-table.no-fold-footers tfoot tr { 
        display: table-row; 
    }
    .block-table.invoice tfoot td,
    .block-table.no-fold-footers tfoot td { 
        display: table-cell; 
    }
    .block-table.fold-at-50.no-fold-footers tr td.spacer { display: none; }
}
@media screen and (max-width: 50em) {
    .block-table.fold-at-50.invoice table {
        border: 0px solid #000;
    }
    .block-table.fold-at-50.invoice tbody tr {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 0px;
        border: 0px;
        border-bottom: 1px solid #000;
    }
    .block-table.fold-at-50.invoice tfoot tr {
        border: 0px;
        border-bottom: 1px solid #000;
    }
    .block-table.fold-at-50.invoice tbody tr:last-child {
        border-bottom: 0px;
    }
    .block-table.fold-at-50.invoice tfoot tr:first-child td {
        border-top: 0px;
    }
    .block-table.fold-at-50.invoice tbody tr .item-description {
        flex-basis: 100%;
        padding-bottom: 0rem;
    }
    .block-table.fold-at-50.invoice tfoot tr td:first-child {
        width: 100%;
    }
    .block-table.fold-at-50.invoice .item-quantity:before {
        content: '(';
        padding-right: 0.5rem;
    }
    .block-table.fold-at-50.invoice .item-quantity {
        padding-right: 0rem;
    }
    .block-table.fold-at-50.invoice .item-quantity:after {
        content: '@';
        padding-left: 0.5rem;
    }
    .block-table.fold-at-50.invoice .item-price {
        padding-left: 0.5rem;
    }
    .block-table.fold-at-50.invoice .item-price:after {
        content: ')';
        padding-left: 0.5rem;
    }
    .block-table.fold-at-50.invoice .item-total {
        font-weight: bold;
    }
}
/* Invoice styles */
.block-table.invoice table {
    border: 0px;
}
.block-table.invoice table thead,
.block-table.invoice table tbody {
    border: 1px solid #000;
}
.block-table.invoice table tfoot,
.block-table.invoice table tfoot tr {
    border: 0px;
}
.block-table.invoice table tfoot tr,
.block-table.invoice table tfoot tr:nth-child(odd),
.block-table.invoice table tfoot tr:nth-child(even) {
    background: none;
}
.block-table.invoice tbody tr,
.block-table.invoice tfoot tr td {
    border-bottom: 1px solid #000;
}
.block-table.invoice tfoot tr td:nth-child(2) {
    border-left: 1px solid #000;
}
.block-table.invoice tfoot tr td:last-child {
    border-right: 1px solid #000;
}
.block-table.invoice tfoot tr td.spacer {
    background: none;
    border-bottom: 0px;
    width: 70%;
}
.block-table.invoice td.item-total {
    flex-grow: 2;
    order: 6;
}
