.block-accountlogin .content {
    padding: 1rem;
}
.block-accountlogin .content h2 {
    padding-bottom: 1rem;
}
.block-accountlogin .input label {
    display: block;
    width: 100%;
    padding: 0.5em 0em;
}
.block-accountlogin .input {
    padding: 0.5rem 0rem;
}
.block-accountlogin .input input {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
}
.block-accountlogin .submit {
    padding-top: 1rem;
    text-align: right;
}
.block-accountlogin .submit input {
    width: 100%;
}
.block-accountlogin .forgot-link {
    text-align: center;
}
.block-accountlogin .forgot-link a.button {
}
@media screen and (min-width: 40em) {
    .block-accountlogin .content {
        max-width: 30em;
        margin: 0 auto;
    }
    .block-accountlogin .input label {
        padding: 0.5em;
    }
    .block-accountlogin .input input {
    }
}
