.block-imagemenu {
    width: 100%;
/*    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem; */
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}
.block-imagemenu .content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.block-imagemenu .image-wrap {
    max-height: 5rem;
}
@media screen and (max-width: 40em) {
    .block-imagemenu .image-wrap {
        width: 80%;
    }
    .block-imagemenu .icons {
        width: 20%;
        text-align: right;
    }
}
.block-imagemenu nav li.image {
    display: inline-block;
    max-height: 5rem;
}
.block-imagemenu .image-wrap {
    padding-right: 1.5rem;
}
.block-imagemenu .image-wrap img {
    max-widht: 500px;
    max-height: 5rem;
}
@media screen and (min-width: 50em) {
    .block-imagemenu .image-wrap img {
        max-height: 5rem;
    }
}
.block-imagemenu .image-wrap a {
    display: block;
}
.block-imagemenu .main-menu nav {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}
.block-imagemenu nav > ul {
    display: block;
    list-style: none;
}
.block-imagemenu .main-menu nav > ul li {
    display: inline-block;
}
.block-imagemenu nav > ul li.hidden {
    display: none;
}
.block-imagemenu nav > ul li a {
    display: block;
    padding: 0.25rem 0.5rem;
}
.block-imagemenu nav > ul img {
    max-height: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.block-imagemenu .hamburger-icon {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    padding: 0.1rem;
    margin-right: 0.5rem;
    margin-left: auto;
}
.block-imagemenu .hamburger-icon svg .shadow {
    fill: transparent;
}
.block-imagemenu .hamburger-icon svg {
    fill: #777;
}
.block-imagemenu .hamburger-menu {
    width: 100%;
    flex-grow: 2;
    flex-basis: 100%;
    position: relative;
}
.block-imagemenu .hamburger-menu nav {
    position: absolute;
    right: 0px;
    top: 0px;
    max-width: 20rem;
    width: 20em;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    margin-right: 0px;
    background: #fff;
    z-index: 900;
    box-shadow: 1px 1px 5px #555;
}
@media screen and (max-width: 25em) {
    .block-imagemenu .hamburger-menu nav {
        max-width: 100%;
    }
}
.block-imagemenu .main-menu nav > ul > li ul {
    border: 1px solid #aaa;
    position: absolute;
    background: #fff;
    box-shadow: 1px 1px 5px #555;
    z-index: 1110;
}
.block-imagemenu .main-menu nav > ul > li ul li {
    display: block;
    border-bottom: 1px solid #aaa;
}
.block-imagemenu .hamburger-menu nav > ul li {
    position: relative;
    display: block;
    border-bottom: 1px solid #aaa;
}
.block-imagemenu .main-menu nav > ul > li ul,
.block-imagemenu .hamburger-menu nav > ul > li ul {
    display: none;
}
.block-imagemenu .main-menu nav > ul > li ul li {
    border-bottom: 0px;
    border-top: 1px solid #aaa;
    line-height: 1em;
    padding: 0.6rem 1rem 0.5rem 1rem;
    min-width: 10rem;
    text-align: left;
}
.block-imagemenu .hamburger-menu nav > ul > li ul li {
    border-bottom: 0px;
    border-top: 1px solid #aaa;
    padding-left: 2rem;
}
.block-imagemenu .hamburger-menu nav > ul li a {
    padding: 0.8rem 1rem 0.7rem 1rem;
    vertical-align: middle;
    line-height: 1em;
}
.block-imagemenu .main-menu nav > ul li.dropdown a {
    display: inline-block;
    width: auto;
}
.block-imagemenu .hamburger-menu nav > ul li.dropdown a {
    display: inline-block;
    width: 80%;
}
.block-imagemenu .main-menu nav > ul li.dropdown a.dropdown {
    display: inline-block;
    padding: 0rem;
}
.block-imagemenu .hamburger-menu nav > ul li a.dropdown {
    display: inline-block;
    width: 20%;
    text-align: right;
    vertical-align: middle;
    padding: 0;
    line-height: 0.9rem;
    cursor: pointer;
}
.block-imagemenu .main-menu nav > ul > li.dropdown:hover ul,
.block-imagemenu .main-menu nav > ul > li.dropdown.dd-show ul,
.block-imagemenu .hamburger-menu nav > ul > li.dropdown.dd-show ul {
    display: block;
}
.block-imagemenu .main-menu nav .svg {
    display: inline-block;
    padding-right: 0.5rem;
}
.block-imagemenu .hamburger-menu nav .svg {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-left: 1px solid #ddd;
}
.block-imagemenu .main-menu nav svg {
    width: 0.8rem;
    fill: #aaa;
    padding: 0rem;
    margin: 0rem;
}
.block-imagemenu .hamburger-menu nav svg {
    height: 1rem;
    fill: #777;
    padding: 0rem;
    margin: 0rem;
}
.block-imagemenu .main-menu nav li:hover svg.close,
.block-imagemenu .main-menu nav li.dd-show svg.close,
.block-imagemenu .main-menu nav svg.expand,
.block-imagemenu .hamburger-menu nav li.dd-show svg.close,
.block-imagemenu .hamburger-menu nav svg.expand {
    display: inline;
}
.block-imagemenu .main-menu nav li:hover svg.expand,
.block-imagemenu .main-menu nav li.dd-show svg.expand,
.block-imagemenu .main-menu nav svg.close,
.block-imagemenu .hamburger-menu nav li.dd-show svg.expand,
.block-imagemenu .hamburger-menu nav svg.close {
    display: none;
}
.block-imagemenu.center-logo .main-menu {
    flex-basis: 100%;
    text-align: center;
    width: 100%;
}
.block-imagemenu.center-logo .main-menu nav li {
    line-height: 5rem;
    vertical-align: top;
}
.block-imagemenu.center-logo .main-menu nav ul li li {
    line-height: 2rem;
}
/* Styles for account menu */
.block-imagemenu.no-image .icons {
}
.block-imagemenu.no-image {
}

/* Specific styles for IE9 */
html.no-flexbox .block-imagemenu .content {
    position: relative;
}
html.no-flexbox .block-imagemenu .icons {
    margin-top: 0.75rem;
    float: right;
}
html.no-flexbox .block-imagemenu .image-wrap {
    margin-top: 0.5rem;
    max-width: 20%;
}
html.no-flexbox .block-imagemenu .main-menu {
    margin-top: 1.5rem;
    float: right;
}
