.block-table {
    width: 100%;
}
.block-table .content {
    padding: 1rem;
}
.block-table h2 {
    padding-bottom: 1rem;
}
.block-table table {
    width: 100%;
    border: 1px solid #000;
}
.block-table.fit-width table {
    width: auto;
    width: -webkit-fill-available;
}
.block-table.fit-width {
    width: auto;
    width: -moz-available;
    width: -webkit-fill-available;
}
.block-table th,
.block-table td {
    padding: 0.5em;
    vertical-align: middle;
}
.block-table td.alignright {
    text-align: right;
}
.block-table th {
    font-weight: bold;
}
.block-table .fold-label {
    display: none;
    padding-right: 1rem;
    font-weight: bold;
}
.block-table .buttons {
    padding: 0.5rem 0rem 0rem 0.5rem;
}
.block-table th .button {
    font-weight: normal;
}
.block-table .buttons .button {
    margin: 0rem 0.5rem 0.5rem 0rem;
}
@media screen and (min-width: 40em) {
    .block-table .content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media screen and (max-width: 40em) {
    .block-table.fold-at-40 table, 
    .block-table.fold-at-40 tbody, 
    .block-table.fold-at-40 tbody tr, 
    .block-table.fold-at-40 tbody td {
        display: block;
    }
    .block-table.fold-at-40 tbody tr {
        margin-bottom: 1rem;
    }
    .block-table.fold-at-40 tbody tr td:first-child {
        font-weight: bold;
    }
    .block-table.fold-at-40 table {
        border: 0px;
    }
    .block-table.fold-at-40 .fold-label {
        display: inline-block;
    }
    .block-table.fold-at-40 tr {
        margin-bottom: 1rem;
        border: 1px solid #000;
    }
    .block-table.fold-at-40 th,
    .block-table.fold-at-40 thead,
    .block-table.fold-at-40 td.empty {
        display: none;
    }
    .block-table.fold-at-40 tfoot {
        display: table;
        width: 100%;
    }
    .block-table.fold-at-40 .fold-alignleft {
        text-align: left;
    }
    .block-table.fold-at-40 .fold-hidden {
        display: none;    
    }
}
@media screen and (max-width: 50em) {
    .block-table.fold-at-50 table, 
    .block-table.fold-at-50 tbody, 
    .block-table.fold-at-50 tbody tr, 
    .block-table.fold-at-50 tbody td {
        display: block;
    }
    .block-table.fold-at-50 tbody tr {
        margin-bottom: 1rem;
    }
    .block-table.fold-at-50 tbody tr td:first-child {
        font-weight: bold;
    }
    .block-table.fold-at-50 table {
        border: 0px;
    }
    .block-table.fold-at-50 .fold-label {
        display: inline-block;
    }
    .block-table.fold-at-50 tr {
        margin-bottom: 1rem;
        border: 1px solid #000;
    }
    .block-table.fold-at-50 th,
    .block-table.fold-at-50 thead,
    .block-table.fold-at-50 td.empty {
        display: none;
    }
    .block-table.fold-at-50 tfoot {
        display: table;
        width: 100%;
    }
    .block-table.fold-at-50 .fold-alignleft {
        text-align: left;
    }
    .block-table.fold-at-50 .fold-hidden {
        display: none;    
    }
}
