.block-table {
    width: 100%;
}
.block-table .content {
    padding: 1rem;
}
.block-table table {
    width: 100%;
    border: 1px solid #000;
}
.block-table th,
.block-table td {
    padding: 0.5em;
}
.block-table .buttons {
    padding: 0.5rem 0rem 0rem 0.5rem;
}
.block-table .buttons .button {
    margin: 0rem 0.5rem 0.5rem 0rem;
}
@media screen and (min-width: 40em) {
    .block-table .content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media screen and (max-width: 40em) {
    .block-table.fold-at-40 th {
        display: none;
    }
    .block-table.fold-at-40 td {
        display: block;
    }
}
@media screen and (max-width: 50em) {
    .block-table.fold-at-50 table, 
    .block-table.fold-at-50 tbody, 
    .block-table.fold-at-50 tr, 
    .block-table.fold-at-50 td {
        display: block;
    }
    .block-table.fold-at-50 tr {
        margin-bottom: 1rem;
    }
    .block-table.fold-at-50 th,
    .block-table.fold-at-50 thead,
    .block-table.fold-at-50 td.empty {
        display: none;
    }
}
