.block-pricelist .content {
    display: flex;
    padding: 0rem 1rem 1rem 1rem;
}
.block-pricelist .pricelist {
    flex-grow: 1;
}
.block-pricelist table {
    display: block;
}
.block-pricelist .price {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background: #eee;
    border-bottom: 3px solid #fff;
}
.block-pricelist .price .label,
.block-pricelist .price .amount,
.block-pricelist .price .buttons {
    display: inline-block;
    vertical-align: middle;
    padding: 0.5rem 1rem;
}
.block-pricelist .price .buttons {
    flex-grow: 1;
    text-align: right;
}
.block-pricelist .price .quantity {
    margin-right: 0.25rem;
}
.block-pricelist .price .amount {
    text-align: right;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.block-pricelist .price .user-amount { 
    padding-right: 1rem;
}
.block-pricelist .price form {
    white-space: pre;
    -webkit-appearance: none;
}
.block-pricelist .price form input {
    box-shadow: none;
    -webkit-appearance: none;
}
.block-pricelist .price .quantity {
}
/*.block-pricelist table tr td {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 1rem;
} */
@media screen and (min-width: 30em) {
    .block-pricelist table {
        display: table;
    }
    .block-pricelist .price { 
        display: table-row;
    }
    .block-pricelist .price .label,
    .block-pricelist .price .amount,
    .block-pricelist .price .buttons {
        display: table-cell;
        width: auto;
    }
}
@media screen and (min-width: 40em) {
    .block-pricelist .content {
        padding: 0rem 2rem 2rem 2rem;
    }
}
@media screen and (min-width: 50em) {
    .block-pricelist .content {
        padding: 0rem 2rem 1rem 2rem;
    }
}

