.block-buttoncards .items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
}
.block-buttoncards .item {
    min-width: auto;
    width: 100%;
    max-width: 100%;
    padding: 0.5rem;
}
.block-buttoncards .item-wrap {
    display: flex;
    padding: 1rem;
    border: 1px solid #ddd;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.block-buttoncards .title {
    padding-bottom: 0.5rem;
    position: relative;
}
.block-buttoncards .title h2 {
    text-align: center;
}
.block-buttoncards.collapsible .title h2 {
    max-width: 90%;
}
.block-buttoncards .info {
    flex-grow: 0;
}
.block-buttoncards .item > a {
    display: block;
    height: 100%;
}
.block-buttoncards .button {
    width: 100%;
    text-align: center;
}
.block-buttoncards .text .line {
    border-bottom: 1px solid #ddd;
    height: 1px;
    margin-bottom: 0.5rem;
}
.block-buttoncards .text .subheading {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem;
    font-size: 1.1em;
}
.block-buttoncards.collapsible .title {
    padding-bottom: 0;
}
.block-buttoncards.collapsible .title:after {
    content: "-";
    position: absolute;
    right: 0px;
    top: 0px;
    color: #000;
    font-size: 1.1em;
    width: 1.7rem;
    height: 1.7rem;
    background: #aaa;
    border-radius: 50%;
    text-align: center;
}
.block-buttoncards.collapsible .collapsed .title:after {
    content: "+";
}
.block-buttoncards.collapsible .collapsed .item-wrap {
    height: auto;
    background: #eee;
}
.block-buttoncards.collapsible .item:not(.collapsed) .title {
    padding: 1rem;
    background: #eee;
}
.block-buttoncards.collapsible .item:not(.collapsed) .title:after {
    margin: 1rem;
}
.block-buttoncards.collapsible .item:not(.collapsed) .item-wrap {
    padding: 0;
}
.block-buttoncards.collapsible .item:not(.collapsed) .info {
    padding: 1rem;
}
.block-buttoncards.collapsible .title h3 {
    font-size: 1.2rem;
    font-weight: bold;
}
.block-buttoncards .collapsed .info {
    display: none;
}
.block-buttoncards .buttons .button-wrap {
    margin-bottom: 1rem;
}
.block-buttoncards .buttons .button-wrap:last-child {
    margin-bottom: 0rem;
}
@media screen and (min-width: 40em) {
    .block-buttoncards .items {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .block-buttoncards .item {
        width: 50%;
        max-width: 50%;
        padding: 0.5rem;
    }
}
@media screen and (min-width: 50em) {
    .block-buttoncards .item {
        flex-basis: 50%;
        max-width: 50%;
    }
}
@media screen and (min-width: 75em) {
    .block-buttoncards .item {
        flex-basis: 33.3%;
        max-width: 33.3%;
    }
}
@media screen and (min-width: 100em) {
    .block-buttoncards .item {
        flex-basis: 25%;
        max-width: 25%;
    }
    .block-buttoncards .items.q-3 .item {
        flex-basis: 33.3%;
        max-width: 33.3%;
    }
}
