.block-msg .content {
    padding: 2rem 1rem;
}
.block-msg .content .msg {
    padding: 1rem;
}
.block-msg.success .content .msg {
    background: #bffbbb;
}
.block-msg.warning .content .msg {
    background: #fbe1bb;
}
.block-msg.error .content .msg {
    background: #fbbbbb;
}
.block-msg.neutral .content .msg {
    background: #e0e0e0;
}
@media screen and (min-width: 40em) {
    .block-msg .content,
    .block-msg.success .content,
    .block-msg.warning .content,
    .block-msg.error .content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

