.block-cart {
    padding: 1rem;
}
.block-cart table.items {
    width: 100%;
}
.block-cart .icon svg {
    height: 1.1rem;
}
.block-cart .details,
.block-cart .details tbody,
.block-cart .details tr,
.block-cart .details th,
.block-cart .details td {
    display: block;
    width: 100%;
}
.block-cart .items th,
.block-cart .items td {
    padding: 0.25rem;
}
.block-cart .details th,
.block-cart .details td {
    padding: 0.5rem;
}
.block-cart .notes {
    display: block;
    margin-left: 1rem;
}
@media screen and (min-width: 35em) {
    .block-cart .items th,
    .block-cart .items td {
        padding: 0.5rem 0.5rem;
    }
    .block-cart .items th,
    .block-cart .items td {
        padding: 0.5rem 0.5rem;
    }
}
@media screen and (min-width: 40em) {
    .block-cart {
        padding: 0 2rem 2rem 2rem;
    }
}
@media screen and (min-width: 50em) {
    .block-cart .details tbody {
        display: flex;
    }
    .block-cart .shipto .details tr {
        display: inline-block;
        width: 50%;
    }
}
.block-cart h1,
.block-cart .items-wrap,
.block-cart .details-wrap {
    margin-bottom: 1rem;
}
.block-cart .customer-notes {
    margin-bottom: 1rem;
}
.block-cart .customer-notes label {
    width: 100%;
    padding: 0.5rem;
}
.block-cart .customer-notes p {
    padding: 0.5rem;
}
.block-cart .customer-notes textarea {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0px;
    -webkit-appearance: none;
}
.block-cart table {
    border: 1px solid #555;
}
.block-cart table th {  
    font-weight: bold;
    color: #000;
}
.block-cart thead tr {
    background: #ddd;
    border-bottom: 1px solid #555;
}
.block-cart tbody tr:nth-child(odd) {
    background: #eee;
}
.block-cart tbody tr:nth-child(even) {
    background: #ddd;
}
.block-cart tfoot tr:first-child {
    border-top: 1px solid #555;
}
.block-cart tfoot tr:nth-child(odd) {
    background: #ddd;
}
.block-cart tfoot tr:nth-child(even) {
    background: #eee;
}
.block-cart .buttons {
    text-align: right;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}
.block-cartsignup .submit .button,
.block-cart .submit .button,
.block-cart .cart-submit .button {
    width: 100%;
    margin: 0px;
}
.block-cart td span.submit {
    margin-right: 1rem;
}
.block-cart .bottom-message {
    margin-bottom: 1rem;
}
@media screen and (min-width: 40em) {
    .block-cartsignup .submit,
    .block-cart .buttons {
        flex-flow: row;
        justify-content: right;
    }
    .block-cartsignup .submit .button,
    .block-cart .buttons .button {
        width: auto;
        flex-grow: 1;
    }
}
@media screen and (min-width: 50em) {
    .block-cart .buttons .button {
        flex-grow: 0;
    }
}
.block-cart .donations {
    background: #eee;
    border: 1px solid #555;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}
.block-cart .donations .donation-options {
    padding-top: 1rem;
}
.block-cart .donations .donation-options .button {
    margin-left: 1rem;
}
.block-cart .donations .other-amount .quantity {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 5em;
}
.block-cart .donations .other-amount {
    padding-top: 1rem;
}
