.block-pricelist .content {
    display: flex;
    padding: 0rem 1rem 1rem 1rem;
}
.block-pricelist .pricelist {
    flex-grow: 1;
}
.block-pricelist .price {
    display: table-row;
}
.block-pricelist .price .label,
.block-pricelist .price .amount,
.block-pricelist .price .buttons {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 0.5rem;
}
.block-pricelist .price .buttons {
    text-align: right;
}
.block-pricelist .price .quantity {
    margin-right: 0.25rem;
}
.block-pricelist .price .amount {
    text-align: right;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.block-pricelist .price form {
    white-space: pre;
    -webkit-appearance: none;
}
.block-pricelist .price form input {
    box-shadow: none;
    -webkit-appearance: none;
}
.block-pricelist .price .quantity {
}
@media screen and (min-width: 40em) {
    .block-pricelist .content {
        padding: 0rem 2rem 2rem 2rem;
    }
}
@media screen and (min-width: 50em) {
    .block-pricelist .content {
        padding: 0rem 2rem 1rem 2rem;
    }
}

