.block-pricecards .items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
}
.block-pricecards .item {
    min-width: auto;
    width: 100%;
    max-width: 100%;
    padding: 0.5rem;
}
.block-pricecards .item-wrap {
    display: flex;
    padding: 1rem;
    border: 1px solid #ddd;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.block-pricecards .title {
    padding-bottom: 0.5rem;
    position: relative;
}
.block-pricecards .title h2 {
    max-width: 90%;
}
.block-pricecards .info {
    flex-grow: 1;
}
.block-pricecards .item > a {
    display: block;
    height: 100%;
}
.block-pricecards .button {
    width: 100%;
    text-align: center;
}
.block-pricecards .text .line {
    border-bottom: 1px solid #ddd;
    height: 1px;
    margin-bottom: 0.5rem;
}
.block-pricecards .text .subheading {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem;
    font-size: 1.1em;
}
.block-pricecards.collapsible .title:after {
    content: "-";
    position: absolute;
    right: 0px;
    top: 0px;
    color: #000;
    font-size: 1.1em;
    width: 1.7rem;
    height: 1.7rem;
    background: #aaa;
    border-radius: 50%;
    text-align: center;
}
.block-pricecards.collapsible .collapsed .title:after {
    content: "+";
}
.block-pricecards .info .text p,
.block-pricecards .info ul {
    margin-bottom: 0.75rem;
}
.block-pricecards .info ul p {
    margin-bottom: 0.25rem;
}
.block-pricecards .info .text:last-child p {
    margin-bottom: 0;
}
.block-pricecards .collapsed .info {
    display: none;
}
.block-pricecards .cart-buttons {
    padding-top: 1rem;
}
.block-pricecards .cart-buttons form {
    margin-bottom: 1rem;
}
.block-pricecards .cart-buttons form:last-child {
    margin-bottom: 0rem;
}
@media screen and (min-width: 40em) {
    .block-pricecards .items {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .block-pricecards .item {
        width: 50%;
        max-width: 50%;
        padding: 0.5rem;
    }
}
@media screen and (min-width: 50em) {
    .block-pricecards .item {
        flex-basis: 50%;
        max-width: 50%;
    }
}
@media screen and (min-width: 75em) {
    .block-pricecards .item {
        flex-basis: 33.3%;
        max-width: 33.3%;
    }
}
@media screen and (min-width: 100em) {
    .block-pricecards .item {
        flex-basis: 25%;
        max-width: 25%;
    }
    .block-pricecards .items.q-3 .item {
        flex-basis: 33.3%;
        max-width: 33.3%;
    }
}
